ion-menu-button {
  color: #ababab;
  width: 90%;
}
.header{
  margin-bottom: -16px;
  h6{
    font-family: 'Poppins-Regular';
   }
}
p{
  font-size: 0.8em;
  font-family: "Poppins-Regular";
  margin: 0;
  padding: 2px;
}
.dataContent{    
  border-top: 1px solid #efefef;
  padding: 4px;
  .sNo{
    position: absolute;
    left: -8px;
    opacity: 0.5;
    font-size: 0.7em;
  }
}
.sub-Title{
  background: #e6e6e6;
  margin: 0 -10rem;
  padding: 0.3rem;
}
.downarrow{
  position: relative;
  top: 0.15rem;
  left: -0.5rem;
  font-size: 0.7rem;
}
.headerContent{
  border-bottom: 1px solid #e6e5e5;
  .name{
    position: relative;
    left: 10px;
  }
}



